@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 188 75% 96%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 196 44% 74%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 88 44% 74%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20.2% 65.1%;
    --input: 215 20.2% 65.1%;
    --ring: 196 44% 74%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 202 20% 12%;
    --foreground: 188 75% 96%;
    --card: 202 20% 15%;
    --card-foreground: 188 75% 96%;
    --popover: 202 20% 15%;
    --popover-foreground: 188 75% 96%;
    --primary: 196 44% 74%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 202 20% 20%;
    --secondary-foreground: 188 75% 96%;
    --muted: 202 20% 20%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 88 44% 74%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 202 20% 25%;
    --input: 202 20% 25%;
    --ring: 196 44% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
